@import "tailwindcss";

:root {
  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --secondary: #64748b;

  --success: #22c55e;
  --danger: #ef4444;

  --background: #f8fafc;
}

.btn-primary {
  @apply bg-[var(--primary)] text-white px-6 py-3 rounded-lg font-medium transition;
}

.btn-primary:hover {
  @apply bg-[var(--primary-hover)];
}

.btn-secondary {
  @apply bg-gray-200 px-6 py-3 rounded-lg;
}

.input {
  @apply w-full border border-gray-300 rounded-lg px-4 py-3 outline-none focus:ring-2 focus:ring-blue-500;
}

.card {
  @apply bg-white shadow-lg rounded-xl p-8;
}


/* Step animation */

.step-container {
  position: relative;
  overflow: hidden;
}

.step-enter {
  animation: slideIn 0.35s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Hide Google Translate top bar */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}
.goog-te-gadget {
  display: none !important;
}
/* Prevent body shifting */
.goog-te-menu-value {
    display: none !important;
}

/* Google ke loading spinners aur skip alerts ko hide karein */
#goog-gt-tt, .goog-te-balloon-frame {
  display: none !important;
}
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}
iframe.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}